[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
cryptography = "*"
requests = "*"
django-cors-headers = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.10"
