[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "*"
cryptography = "*"
requests = "*"
django-cors-headers = "*"
django-import-export = "*"
tablib = "*"
django-rest-framework-multi-slug-field = "*"
wagtail = "*"
whitenoise = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
