[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyascii = "==0.3.2"
asgiref = "==3.8.1"
asttokens = "==3.0.0"
beautifulsoup4 = "==4.12.3"
certifi = "==2024.12.14"
cffi = "==1.17.1"
charset-normalizer = "==3.4.1"
cryptography = "==44.0.0"
decorator = "==5.1.1"
defusedxml = "==0.7.1"
diff-match-patch = "==20241021"
django = "==5.1.4"
django-allauth = "==65.13.0"
django-appconf = "==1.1.0"
django-cors-headers = "==4.6.0"
django-drf-filepond = "==0.5.0"
django-filter = "==23.5"
django-imagekit = "==6.0.0"
django-import-export = "==4.3.3"
django-modelcluster = "==6.4"
django-permissionedforms = "==0.1"
django-rest-framework-multi-slug-field = "==0.2.0"
django-storages = "==1.14.4"
django-taggit = "==5.0.1"
django-treebeard = "==4.7.1"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.4.0"
draftjs-exporter = "==5.0.0"
et-xmlfile = "==2.0.0"
exceptiongroup = "==1.2.2"
executing = "==2.1.0"
filetype = "==1.2.0"
html5lib = "==1.1"
idna = "==3.10"
ipython = "==8.31.0"
jedi = "==0.19.2"
l18n = "==2021.3"
laces = "==0.1.1"
matplotlib-inline = "==0.1.7"
openpyxl = "==3.1.5"
parso = "==0.8.4"
pexpect = "==4.9.0"
pilkit = "==3.0"
pillow = "==10.4.0"
pillow-heif = "==0.21.0"
prompt-toolkit = "==3.0.48"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.3"
pycparser = "==2.22"
pygments = "==2.19.1"
pyjwt = "==2.10.1"
python-dotenv = "==1.0.1"
python-json-logger = "==2.0.7"
pytz = "==2024.2"
requests = "==2.32.3"
shortuuid = "==1.0.13"
six = "==1.17.0"
soupsieve = "==2.6"
sphynx = "==0.0.3"
sqlparse = "==0.5.3"
stack-data = "==0.6.3"
structlog = "==21.5.0"
tablib = "==3.7.0"
telepath = "==0.3.1"
traitlets = "==5.14.3"
typing-extensions = "==4.12.2"
urllib3 = "==2.3.0"
wagtail = "==6.0.6"
wcwidth = "==0.2.13"
webencodings = "==0.5.1"
whitenoise = "==6.8.2"
willow = "==1.9.0"

[dev-packages]

[requires]
python_version = "3.10"
